services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
      - celery

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  celery:
    build: .
    command: celery -A ticketing worker -l info
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - redis
    restart: unless-stopped

